{% extends 'base.html' %}
{% load static %}
{% block content %}
My name is {{name}}

<div class="container">
    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="static/images/elec.jpg" alt="Card image cap">
        Do not need to load static for this method  -->
        <img src="{% static 'images/elec.jpg' %}">
        <div class="card-body">
        <h5 class="card-title">Electronics</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="view_info/?category=Electronincs" class="btn btn-primary">View>></a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="static/images/elec.jpg" alt="Card image cap"> -->
        <div class="card-body">
        <h5 class="card-title">Clothing</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="view_info/?category=Clothing" class="btn btn-primary">View>></a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="static/images/elec.jpg" alt="Card image cap"> -->
        <div class="card-body">
        <h5 class="card-title">Cosmetics</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="view_info/?category=Cosmetics" class="btn btn-primary">View>></a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="static/images/elec.jpg" alt="Card image cap"> -->
        <div class="card-body">
        <h5 class="card-title">Stationary</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="view_info/?category=Stationary" class="btn btn-primary">View>></a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="static/images/elec.jpg" alt="Card image cap"> -->
        <div class="card-body">
        <h5 class="card-title">Sports</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="view_info/?category=Sports" class="btn btn-primary">View>></a>
        </div>
    </div>
</div>

{% endblock %}